<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <h1>Enter Team Details :</h1>
            <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">

                <mat-form-field appearance="outline">
                    <mat-label>Player Name</mat-label>
                    <input [(ngModel)]="player.playerName" name="playerName" matInput placeholder="Player Name"
                    formControlName="playerName"
                    >
                    <mat-hint *ngIf="playerName && playerName.invalid && playerName.touched">PlayerName is Required!!!</mat-hint>
                </mat-form-field>

 
                <mat-form-field appearance="outline">
                    <mat-label>Team Name</mat-label>
                    <mat-select [(ngModel)]="player.teamName" name="teamName" formControlName="teamName">
                        <mat-option *ngFor="let t of teams" [value]="t.teamname">
                            {{t.teamname}}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="teamName && teamName.invalid && teamName.touched">Teamname is Required!!!</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Skills</mat-label>
                    <input [(ngModel)]="player.skills" name="skills" matInput placeholder="Skills" formControlName="skills">
                    <mat-hint *ngIf="skills && skills.invalid && skills.touched">Skills is Required!!!</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Player Points</mat-label>
                    <input [(ngModel)]="player.playerPoints" name="playerPoints" matInput placeholder="Player Points" formControlName="playerPoints">
                    <mat-hint *ngIf="playerPoints && playerPoints.invalid && playerPoints.touched">PlayerPoints is Required!!!</mat-hint>
                </mat-form-field>

                <div>
                    <button [disabled]="playerForm.invalid" mat-raised-button type="submit" color="primary">Add Team</button>
                </div>

            </form>
        </div>
    </div>
</div>