<div class="main">
    <div class="c">
    <h2>
        All Contests
    </h2>
    <div class="add-team" (click)="openDialog()">
        <span class="material-icons-sharp warning">
            add
            </span>
        <h3>Add Contest</h3></div>
        
</div>


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contest Name</th>
                <th >Prize Money</th>
                <th >Entry Fee</th>
                <th>Actions</th>
                <td></td>
                
            </tr>
        </thead>
        <tbody>
        

            <tr *ngFor="let c of contests">
                <td>{{c.id}}</td>
                <td>{{c.contestname}}</td>
                <td>{{c.prizemoney}}</td>
                <td>{{c.enteryfee}}</td>
                <td style="cursor: pointer;">
                   
                    <span (click)="updateContest(c.id)" class="material-icons-sharp warning">
                        edit
                        </span>
                    <span (click)="delete(c.id)"  class="material-icons-sharp danger">
                        delete
                        </span>
                </td>
            </tr>
          
        </tbody>
    </table>
    <a href="#">Show All</a>
</div>