.side-bar{
    margin: 0px;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #fff;
}

.active{
    background-color: #ECEFF1;
}

.p{
    cursor: pointer;
}

.logo{
    font-size: 2em;
    text-transform: uppercase;
    color: #37474F;
    text-align: center;
    margin-top: 4em;
}

.fs:hover{
    cursor: pointer;
}