<div class="side-bar">
    <div class="logo">
        Logo
    </div>

    <div class="p">
       <ul class="fs">
        <li>Players</li>
        <li>Teams</li>
       </ul>
    </div>
</div>

<p>dashboard works!</p>
asdf
<mat-card>
<mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</button>
    <button mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</button>
</mat-action-list>
<mat-action-list>
    
    <button mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</button>
</mat-action-list>
</mat-card>
asdfszdf