<div class="container">
  <aside>
    <div class="top">
      <div class="logo">
        <img src="../../../assets/playIt logo.jpg" alt="logo img">
        <h2 class="text-muted">play<span class="danger">It</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">
          close
        </span>
      </div>
    </div>
    <app-sidebar></app-sidebar>
  </aside>


<!-- Main Mindow Section -->

    <!-- Upper cards -->
  <main>
    <h1>Dashboard</h1>
    <div class="insights">

      <!-- Contest card display -->
      <div class="contest">
        <span class="material-icons-sharp">
          sports_cricket
        </span>
        <div class="middle">
          <div class="left">
            <h3>
              Total Contests
            </h3>
            <h1>25</h1>
            
          </div>
        </div>
        <small class="text-muted">Current Running Contests</small>
      </div>

       <!-- User joind card display -->
       <div class="user">
        <span class="material-icons-sharp">
          people
          </span>
        <div class="middle">
          <div class="left">
            <h3>
              Total User Joined
            </h3>
            <h1>101</h1>
            
          </div>
        </div>
        <small class="text-muted">All Users Joined</small>
      </div>

       <!--Sales card display -->
       <div class="sales">
        <span class="material-icons-sharp">
          real_estate_agent
          </span>
        <div class="middle">
          <div class="left">
            <h3>
              Total Sales
            </h3>
            <h1>$25</h1>
            
          </div>
        </div>
        <small class="text-muted">Income</small>
      </div>
    </div>


    <!-- main window -->
    <app-mainwindow></app-mainwindow>

  </main>
</div>